<%- include("../partials/head") %>
    <page id="lobby" active="1">
        <h1>Host</h1>
        <p>Room: <%= locals.room %></p>
        <h2>People</h2>
        <div id="people"></div>
    </page>
    <page id="canvas" active="0">
        <h1 class="centered">insert tutorial animation here</h1>
    </page>
    <page id="countdown" active="0">
        <h1><span id="numerator">0</span>/<span id="denominator">0</span> players</h1>
        <roundbanner>
            <h1 class="centered">Round <span id="round">69</span></h1>
        </roundbanner>
        <timer><bar></bar></timer>
    </page>
    <page id="leaderboard" active="0">
        <h1>leaderboard</h1>
        <div id="table">
        </div>
    </page>
    <%- include("../scripts/host") %>
    <%- include("../styles/host") %>
<%- include("../partials/feet") %>