<%- include("../partials/head") %>
	<h1>landing</h1>
	<character style="height: 500px">
		<origin>
			<torso>
				<background></background>
				<waistbg></waistbg>
				<face></face>
				<bicep>
					<fore></fore>
				</bicep>
				<bicep>
					<fore></fore>
				</bicep>
			</torso>
			<waist>
				<background></background>
				<thigh>
					<shin></shin>
				</thigh>
				<thigh>
					<shin></shin>
				</thigh>
			</waist>
		</origin>
	</character>
	<%- include("../scripts/landing") %>
	<%- include("../scripts/character") %>
	<%- include("../styles/character") %>
<%- include("../partials/feet") %>