<%- include("../partials/head") %>
    <page id="lobby" active="1">
        <h1>player</h1>
        <h2><%= locals.name %></h2>
        <p>Room: <%= locals.room %></p>
        <h3>skin:</h3>
        <div class="colors">
            <% for(var color of ["#513021", "#874c2c", "#b66837", "#f9bf91", "#ecc19f"]){ %>
                <div style="cursor: pointer; height: 50px; width: 50px; display: inline-block; border-radius: 50%; background: <%= color %>;"></div>
            <% } %>
        </div>
        <button id="start" active="0">start</button>
    </page>
    <page id="waiting" active="0">
        <div class="centered">
            <h1>hold tight!</h1>
            <button id="skip" active="0">skip</button>
        </div>
    </page>
    <page id="dashboard" active="0">
        <h1>dashboard</h1>
        <h2>$<span id="money">0</span></h2>
        <hr>
        <h2>Debate with:</h2>
        <div id="debatewith"></div>
        <button id="finish">finish</button>
    </page>
    <page id="message" active="0"><h1 class="centered" id="messageContent"></h1></page>
    <%- include("../scripts/player") %>
    <%- include("../styles/player") %>
<%- include("../partials/feet") %>