<%- include("../partials/head") %>
    <page id="lobby" active="1">
        <h1>player</h1>
        <h2><%= locals.name %></h2>
        <p>Room: <%= locals.room %></p>
        <h3>skin:</h3>
        <div class="colors">
            <% for(var color of ["#513021", "#874c2c", "#b66837", "#f9bf91", "#ecc19f"]){ %>
                <div style="cursor: pointer; height: 50px; width: 50px; display: inline-block; border-radius: 50%; background: <%= color %>;"></div>
            <% } %>
        </div>
        <button id="start" active="0">start</button>
    </page>
    <page id="dashboard" active="0">
        <p>Money: $<span id="money">1000</span></p>
        <p>Popularity <span id="popularity">0.5</span></p>
        <hr>
        <h2>Stances:</h2>
        <label for="racialEquality">Racial Equality</label>
        <input type="range" min="0" max="100" value="0" id="racialEquality">
        <label for="genderEquality">Gender Equality</label>
        <input type="range" min="0" max="100" value="0" id="genderEquality">
        <label for="selfSufficiency">Middle Class Self Sufficiency</label>
        <input type="range" min="0" max="100" value="50" id="selfSufficiency">
        <hr>
        <h2>Suggest Legislation</h2>
        <label for="tax">Taxes</label>
        <input id="tax" type="number" value="100" min="0" />
        <label for="nativeLand">Take N Square Miles of Native Land</label>
        <input id="nativeLand" type="number" value="0" min="0" max="1656000" />
        <hr>
        <h2>Debate with:</h2>
        <div id="debatewith"></div>
        <button id="finish">finish</button>
        <cover active="0"><h1 class="centered">finished</h1></cover>
    </page>
    <page id="waiting" active="0">
        <div class="centered">
            <h1>hold tight!</h1>
            <button id="skip" active="0">skip</button>
        </div>
    </page>
    <page id="message" active="0"><h1 class="centered" id="messageContent"></h1></page>
    <page id="callback" active="0"></page>
    <page id="gameEnd" active="0">
        <center class="centered">
            <h1>Good job! You were #<span id="placing">69</span> place.</h1>
            <button id="backToHub">Back To Hub</button>
        </center>
    </page>
    <%- include("../scripts/player") %>
    <%- include("../styles/player") %>
<%- include("../partials/feet") %>